

@media (min-width: 1024px) {
.searchContainer {
    max-width: 900px !important;
    padding-top: 45px;
}
}

@media (min-width: 1500px) {
.searchContainer {
    max-width: 1000px !important;
}
}

@media (max-width: 992px) {
.searchContainer {
    padding: 10px 20px !important;
}
}

@media (max-width: 900px) {
    .indexContainer {
      margin-top: -100px;
    }
  }
@media (max-width: 950px) {
    .userSettingsContainer {
      margin-top: -100px;
    }
  }